.deals-section {
  /* border: 2px solid red; */
  background-color: #f4f5f5;
  /* min-height: calc(100vh - 70px); */
  overflow-x: auto;
  display: flex;
  /* flex-direction: row; */
  /* width: 100vw; */
  width: 1380px;
}

.title {
  /* border: 1px solid green; */
  width: 31px;
  height: 18px;
  left: 76px;
  top: 144px;

  /* font-style: normal; */
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;

  color: #000000;
}

.deals-amount-title {
  /* border: 2px solid black; */
  width: 116px;
  padding-top: 4px;
  font-size: 13px;
  font-weight: 500;
}

.amount {
  /* border: 1px solid red; */
  width: 117px;
  height: 16px;
  left: 76px;
  top: 166px;

  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;

  color: #000000;
}

.space {
  padding: 2px;
}

.deals-column {
  /* border: 2px solid green; */
  /* box-sizing: border-box; */
  padding: 8px;
  width: 320px;
  height: 772px;
  /* left: 60px;
  top: 128px; */

  background: #f4f5f5;
  box-shadow: inset -1px 0px 0px rgba(0, 0, 0, 0.1);
}

.draggingOver {
  background-color: gray;
  background: rgba(51, 188, 126, 0.12);
  position: relative;
  border-right: 1px solid #e0e0e0;
  width: 300px;
  flex: 1;
  height: 590px;
}

.deals-column--header {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid #e0e0e0; */
  border-right: 1px solid #e0e0e0;
  /* font-size: 13px !important; */
  width: 320px;
  height: 70px;
  left: 60px;
  top: 128px;

  background: #f4f5f5;

  /* background: rgba(255, 255, 255, 0.01); */
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.deal-head-amount {
  font-weight: 600;
}

.flex-column {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
}

.deal-card {
  /* border: 2px solid black; */
  /* margin-left: 8px;
  margin-bottom: 8px; */
  margin-top: 8px;
  /* border: 2px solid black; */
  /* display: flex; */
  /* flex-direction: row; */
  /* align-items: flex-start; */
  padding: 16px;
  gap: 12px;

  width: 300px;
  /* height: 126px; */

  background: #ffffff;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.deals-count {
  color: gray;
}

.deals-card-days {
  color: gray;
}
/* .deal-card:hover {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
} */

.checkbox-input {
  /* margin-top: 12px; */
  /* display: flex; */
  display: none;
}

.contact-checkbox {
  /* position: absolute; */
  /* border: 2px solid magenta; */
  display: flex;
  /* align-items: flex-end; */
  /* justify-content: center; */
  padding-top: 5px;
  gap: 187px;
  height: 25px;
}

input.largerCheckbox {
  width: 18px;
  height: 18px;
}

input[type="checkbox"] {
  appearance: none;
  accent-color: #33bc7e;

  /* left: 8.33%;
  right: 8.34%;
  top: 91.67%;
  bottom: -75%; */

  opacity: 0.2;
  border: 1.5px solid #000000;
  border-radius: 3px;
  /* transform: rotate(-90deg); */
}

input[type="checkbox"]:checked::after {
  color: #fff;
}

.deal-card:hover .checkbox-input {
  display: inline-block;
  justify-content: flex-end;
}

.deal-card-drag {
  /* border: 2px solid red; */
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 10px;
  margin: 10px;

  width: 285px;
  height: 126px;

  background: none;
  border-radius: 8px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08); */
  box-sizing: border-box;

  position: absolute;
  width: 280px;
  height: 108px;
  left: 388px;
  top: 322px;

  background: rgba(255, 255, 255, 0.01);
  opacity: 0.6;
  border: 1px dashed #000000;
  border-radius: 8px;
}

/* .deal-card-drag .deal-card {
  border: 2px solid red;
} */

.dragging-true {
  border: 1px dashed #000000;
}

/* .dragging {
  position: relative;
  margin: 10px;
  background: #daffef;
  background-color: rgba(51, 188, 126, 0.12);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 10px;

  width: 283px;
  height: 130px;

  border-radius: 8px;
} */

.dragging {
  /* border: 2px solid red; */
  box-sizing: border-box;
  /* position: fixed; */
  width: 300px;
  height: 700px;
  /* left: 1028px; */
  /* top: 130px; */
  margin-left: 8px;
  margin-top: 15px;
  margin-right: 8px;

  background: #ffffff;
  opacity: 0.8;
  border: 1px dashed #000000;
  border-radius: 8px;
  z-index: -99;
}

.deal-card--content {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  /* width: 240px;
  height: 36px; */

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  color: #000000;

  /* flex: none;
  order: 0;
  flex-grow: 0; */
}

.deal-card--content-title {
  /* border: 1px solid yellow; */
  /* padding-bottom: 5px; */
  width: 220px;
  font-weight: bold;
  font-size: 14px;
}

.deal-card--content-price {
  /* border: 1px solid red; */
  /* padding-bottom: 10px; */
  margin: 5px 0px;
  font-size: 13px;
}

.contact-pic {
  /* border: 2px solid red; */
  width: 24px;
  height: 24px;
  /* left: 0px;
  top: 70px; */
  border-radius: 100%;
  overflow: hidden;
  background: rgba(128, 128, 128, 0.6);
  /* border: 1.1px solid rgba(0, 0, 0, 0.1); */
}
.contact-border {
  /* border: 1px solid red; */
  /* border: 2px solid rgba(0, 0, 0, 0.1); */
  /* border-radius: 100%;
  width: 25.5px;
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.1); */
}

/* img {
  height: 100%;
  width: 100%;
} */

.contacts {
  /* border: 2px solid red; */
  background-image: url("./Assets/images/profile.jpeg");
  width: 24px;
  height: 24px;
  background-size: 110%;
  background-repeat: no-repeat;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-position: -1px -1px;

  /* display: flex;
  gap: 5px;
  padding-top: 1px;
  padding-bottom: 1px; */
}

.app-wrapper--side-navbar {
  width: 60px;
  background: #272937;
}

.app-wrapper--container {
  width: calc(100vw - 75px);
}

/* .drift-logo {
  border: 2px solid red;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 70px;

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  background-size: contain;
} */

.contact-div {
  /* border: 2px solid; */
  display: flex;
  gap: 8px;
}
